body {
  font-family: 'Roboto', sans-serif;
  background-color: #BFB5C9;
  color: #E7F3F1; 
  margin: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2;
}

button {
  background-color:#100C38;
  border-radius: 20px;
  color:#E7F3F1;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input {
  border-radius: 20px;
  border: 0px;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 60em;
}

button:active {
  background-color: #8D52C4;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 80px;
}

.large-icon {
  height: 50px;
  width: 50px;
  padding-right: 10px;
  padding-left: 0;
}

.icon {
  height: 25px;
  width: 25px;
}

.home-nav {
  list-style: url(./images/icons/home.svg);
}

.prof-nav {
  list-style-image: url(./images/icons/profile.svg);
}

.msg-nav {
  list-style-image: url(./images/icons/messages.svg);
}

.his-nav {
  list-style-image: url(./images/icons/history.svg);
}

.tsk-nav {
  list-style-image: url(./images/icons/task.svg);
}

.com-nav {
  list-style-image: url(./images/icons/community.svg);
}

.set-nav {
  list-style-image: url(./images/icons/settings.svg);
}

.sup-nav {
  list-style-image: url(./images/icons/support.svg);
}

.priv-nav {
  list-style-image: url(./images/icons/privacy.svg);
}

.top-dashboard,
.bottom-dashboard {
  margin: 25px;
}

.left-nav {
  font-size: 50px;
}

.left-nav span {
  font-size: 16px;
  vertical-align: middle;
}

.nav {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: #100C38;
  background-attachment: fixed;
  margin: 0;
}

.top-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.top-right img,
.top-right p {
  margin-left: 5px;
  margin-right: 5px;
}

.top-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-left img,
.top-right input {
  margin-left: 5px;
  margin-right: 5px;
}

.top-bar {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  background-color: #E7F3F1;
  color: black;
  padding: 20px 10px 5px 10px;
}

.greeting,
.right-username {
  font-weight: bold;
}

.username {
  font-size: 25px;
  font-weight: bold;
}

.search-nav {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

}

.main-nav {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.projects {
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.project-cards {
  border-radius: 5px;
  background-color: #E7F3F1;
  color: black;
  margin: 10px;
  padding-left: 0;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 20px, max-content;
  grid-template-rows: 2;
  column-gap: 5px;
}

.color-bar {
  background-color: #BF2062;
  grid-column: 1;
  margin: 0;
  width: 10px;
  border-radius: 5px 0px 0px 5px;
}

.card-content {
  grid-column: 2;
}

.announcements {
  border-radius: 5px;
  background-color: #E7F3F1;
  color: black;
  margin: 10px;
  padding: 10px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.trending {
  border-radius: 5px;
  background-color: #E7F3F1;
  color: black;
  margin: 10px;
  padding: 10px;
  grid-column: 2;
  grid-row: 2;
}

.trending-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}


